---
import Card from "../../components/Card.astro";
import CircleImg from "../../components/CircleImg.astro";
import TableHomePage from "../../components/TableHomePage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <TableHomePage
    title="Especializaciones"
    subTitle="Especializaciones/Administrativos"
  />
  <div class="info">
    <div class="titulo">
      <h3>Administrativos</h3>
    </div>
    <div class="parrafo">
      <p>
        En casos <strong>administrativos</strong> nos encargamos de asesorar y representar
        a nuestros clientes ante las autoridades y en procedimientos relacionados
        con la administración pública. Proporcionamos nuestro expertise para asegurar
        que dichas interacciones se realicen de manera eficiente y conforme a la
        ley.
      </p>
      <p>
        Asesoramos en la obtención de <strong>licencias y permisos</strong> necesarios
        para el funcionamiento de negocios y actividades específicas. Esto incluye
        la preparación de documentación, presentación de solicitudes y seguimiento
        ante las autoridades competentes para asegurar el cumplimiento de los requisitos
        legales.
      </p>
      <p>
        En casos de <strong>sanciones administrativas y multas</strong> impuestas
        por entidades gubernamentales, nos encargamos de representar a nuestros clientes
        en la impugnación de dichas imputaciones. Esto implica la revisión de la
        legalidad de las sanciones, la preparación de recursos y la defensa ante
        los tribunales administrativos.
      </p>
      <p>
        Asesoramos en procesos de <strong>contratación</strong> con el Estado, garantizando
        que las empresas cumplan con los procedimientos y requisitos legales para
        participar en licitaciones y concursos públicos. Además, asistimos en la
        redacción y revisión de contratos y en la resolución de controversias que
        puedan surgir durante la ejecución de los mismos.
      </p>
      <p>
        Presentamos <strong>recursos administrativos</strong> contra decisiones de
        la administración pública que afecten los derechos e intereses de nuestros
        clientes. Esto incluye la redacción y presentación de recursos de reposición,
        apelación y revisión, buscando revertir decisiones desfavorables.
      </p>
    </div>
  </div>
  <div class="other">
    <h2>Otras especializaciones</h2>
    <CircleImg />
  </div>
  <section>
    <div class="card">
      <Card
        href="/Especializaciones/niñes&adolecencia"
        title="NIÑES Y ADOLECENCIA"
      />
      <Card href="/Especializaciones/penales" title="PENALES" />
      <Card
        href="/Especializaciones/penales-especiales"
        title="CASOS PENALES ESPECIALES"
      />
    </div>
    <div class="ver-mas">
      <a href="/especializaciones" class="button">
        <button>Ver mas</button>
      </a>
    </div>
  </section>
</Layout>

<style>
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
  }

  .parrafo {
    width: 900px;
  }

  .titulo {
    color: rgba(155, 158, 161, 0.93);
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.4em;
    color: rgba(106, 104, 104, 1);
    text-align: left;
  }

  .other {
    text-align: center;
  }

  .card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ver-mas {
    margin: 20px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .card {
      flex-direction: column;
    }

    h3 {
      font-size: 1.8em;
    }
    .parrafo {
      width: 100%;
    }
    p {
      font-size: 1.1em;
      text-align: center;
    }
  }
</style>
