---
import Card from "../../components/Card.astro";
import CircleImg from "../../components/CircleImg.astro";
import TableHomePage from "../../components/TableHomePage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <TableHomePage
    title="Especializaciones"
    subTitle="Especializaciones/ Contables"
  />
  <div class="info">
    <div class="titulo">
      <h3>Contables</h3>
    </div>
    <div class="parrafo">
      <p>
        Gestionamos financiera y fiscalmente a nuestros clientes, proporcionando
        asesoría especializada y asegurando el cumplimiento de todas las
        obligaciones tributarias.
      </p>
      <p>
        Ofrecemos asesoría integral en aspectos contables, fiscales y laborales
        a empresas <strong>Sociedad Anónima S.A.</strong>,
        <strong>Sociedad de Responsabilidad Limitada S.R.L.</strong>
        y <strong>empresas Unipersonales</strong> asegurando que operen conforme
        a la legislación vigente. Esto incluye la constitución y estructura legal
        de la empresa, el manejo de registros contables y el cumplimiento de obligaciones
        tributarias y laborales.
      </p>
      <p>
        Somos responsables de calcular y presentar el <strong
          >Impuesto al Valor Agregado IVA</strong
        >, asegurando que nuestros clientes cumplan con sus obligaciones
        fiscales. Esto implica la preparación de declaraciones periódicas, el
        seguimiento de créditos fiscales y la presentación de la documentación
        requerida ante las autoridades fiscales.
      </p>
      <p>
        En cuanto al <strong>Impuesto a la renta empresarial IRE</strong>, nos
        encargamos de calcular el impuesto sobre las ganancias de la empresa,
        preparar y presentar las declaraciones anuales, y asegurar el
        cumplimiento con todas las normativas fiscales pertinentes. Esto incluye
        la identificación de deducciones y la planificación fiscal para
        optimizar la carga tributaria.
      </p>
      <p>
        Asesoramos a nuestros clientes en la gestión del <strong
          >impuesto a la renta personal IRP</strong
        >, ayudando a calcular correctamente el impuesto sobre sus ingresos
        personales. Esto incluye la presentación de declaraciones anuales y la
        identificación de deducciones y créditos fiscales aplicables.
      </p>
      <p>
        Para empresas y personas involucradas en actividades agropecuarias,
        manejamos el cálculo y la presentación del <strong
          >impuesto a la renta agropecuaria IRAGRO</strong
        >. Esto requiere un conocimiento especializado de las normativas
        fiscales específicas del sector agropecuario y la preparación de la
        documentación correspondiente.
      </p>
      <p>
        El <strong>IRG 90</strong> es un régimen especial de tributación para ciertos
        contribuyentes. Aseguramos que nuestros clientes que califiquen para
        este régimen cumplan con los requisitos y presenten sus declaraciones de
        manera adecuada, optimizando sus beneficios fiscales bajo este régimen.
      </p>
    </div>
  </div>
  <div class="other">
    <h2>Otras especializaciones</h2>
    <CircleImg />
  </div>
  <section>
    <div class="card">
      <Card
        href="/Especializaciones/niñes&adolecencia"
        title="NIÑES Y ADOLECENCIA"
      />
      <Card href="/Especializaciones/penales" title="PENALES" />
      <Card
        href="/Especializaciones/penales-especiales"
        title="CASOS PENALES ESPECIALES"
      />
    </div>
    <div class="ver-mas">
      <a href="/especializaciones" class="button">
        <button>Ver mas</button>
      </a>
    </div>
  </section>
</Layout>

<style>
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
  }

  .parrafo {
    width: 900px;
  }

  .titulo {
    color: rgba(155, 158, 161, 0.93);
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.4em;
    color: rgba(106, 104, 104, 1);
    text-align: left;
  }

  .other {
    text-align: center;
  }

  .card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ver-mas {
    margin: 20px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .card {
      flex-direction: column;
    }

    h3 {
      font-size: 1.8em;
    }
    
    .parrafo {
      width:320px;
    }
    
    p {
      font-size: 1.1em;
      text-align: justify;
    }
  }
</style>
