---
import Card from "../../components/Card.astro";
import CircleImg from "../../components/CircleImg.astro";
import TableHomePage from "../../components/TableHomePage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <TableHomePage
    title="Especializaciones"
    subTitle="Especializaciones/ Laborales"
  />
  <div class="info">
    <div class="titulo">
      <h3>Laborales</h3>
    </div>
    <div class="parrafo">
      <p>
        En los casos <strong>laborales</strong> asesoramos y representamos
        a empleados y empleadores en diversos aspectos relacionados con el derecho
        laboral.
      </p>
      <p>
        Asesoramos en la redacción, revisión y negociación de <strong
          >contratos laborales</strong
        >, asegurando que cumplan con la legislación vigente y protejan los
        derechos tanto del empleador como del empleado. Esto incluye contratos
        de tiempo determinado, indefinido, y contratos para servicios
        específicos.
      </p>
      <p>
        Participamos en <strong>negociaciones colectivas</strong>, representando
        a sindicatos o a empleadores en la negociación de convenios colectivos
        de trabajo. Esto incluye la mediación de conflictos laborales y la
        redacción de acuerdos que beneficien a ambas partes.
      </p>
      <p>
        Gestionamos <strong>reclamaciones salariales</strong>, asegurando que
        los empleados reciban los salarios y beneficios a los que tienen
        derecho. Asistimos en la presentación de demandas por salarios impagos,
        horas extras y otros beneficios laborales.
      </p>
      <p>
        Asesoramos a empresas en el cumplimiento de normativas de
        <strong>seguridad y salud ocupacional</strong>. Esto incluye la revisión de políticas
        internas, la gestión de incidentes laborales y la representación en
        casos de incumplimiento de las normativas de seguridad laboral.
      </p>
    </div>
  </div>
  <div class="other">
    <h2>Otras especializaciones</h2>
    <CircleImg />
  </div>
  <section>
    <div class="card">
      <Card
        href="/Especializaciones/niñez&adolecencia"
        title="NIÑEZ Y ADOLECENCIA"
      />
      <Card href="/Especializaciones/penales" title="PENALES" />
      <Card
        href="/Especializaciones/penales-especiales"
        title="CASOS PENALES ESPECIALES"
      />
    </div>
    <div class="ver-mas">
      <a href="/especializaciones" class="button">
        <button>Ver mas</button>
      </a>
    </div>
  </section>
</Layout>

<style>
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
  }

  .parrafo {
    width: 900px;
  }

  .titulo {
    color: rgba(155, 158, 161, 0.93);
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.4em;
    color: rgba(106, 104, 104, 1);
    text-align: left;
  }

  .other {
    text-align: center;
  }

  .card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ver-mas {
    margin: 20px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .card {
      flex-direction: column;
    }

    h3 {
      font-size: 1.8em;
    }
    
    .parrafo {
      width:320px;
    }
    
    p {
      font-size: 1.1em;
      text-align: justify;
    }
  }
</style>
