---
import Card from "../../components/Card.astro";
import CircleImg from "../../components/CircleImg.astro";
import TableHomePage from "../../components/TableHomePage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <TableHomePage
    title="Especializaciones"
    subTitle="Especializaciones/ Penales"
  />
  <div class="info">
    <div class="titulo">
      <h3>Casos penales</h3>
    </div>
    <div class="parrafo">
      <p>
        Representamos a nuestros clientes para asegurar que reciban el respaldo
        y la justicia necesarios en cada etapa del proceso <strong>penal</strong>.
      </p>
      <p>
        En casos de <strong>denuncias</strong>, ayudamos a nuestros clientes a
        presentar y redactar denuncias de manera correcta y efectiva, asegurando
        que todos los detalles relevantes se incluyan para que el proceso
        judicial avance adecuadamente.
      </p>
      <p>
        Durante las <strong>audiencias indagatorias</strong>, ofrecemos
        representación legal y asesoramos a nuestros clientes sobre cómo
        responder a las preguntas del juez o del fiscal, protegiendo sus
        derechos y garantizando un trato justo.
      </p>
      <p>
        En situaciones de <strong>querellas adhesivas</strong>, asistimos a las
        víctimas de delitos a presentar su querella junto con la del fiscal,
        buscando una reparación adecuada y la sanción del responsable.
      </p>
      <p>
        Cuando se trata de <strong>acusación</strong>, preparamos y presentamos
        las pruebas necesarias para respaldar la acusación contra el imputado,
        trabajando para que el caso sea sólido y bien fundamentado.
      </p>
      <p>
        En los <strong>juicios orales</strong>, representamos a nuestros
        clientes ante el tribunal, presentando evidencias y argumentos de manera
        clara y persuasiva, buscando siempre el mejor resultado posible según
        las circunstancias del caso.
      </p>
    </div>
  </div>
  <div class="other">
    <h2>Otras especializaciones</h2>
    <CircleImg />
  </div>
  <section>
    <div class="card">
      <Card
        href="/Especializaciones/niñes&adolecencia"
        title="NIÑES Y ADOLECENCIA"
      />
      <Card href="/Especializaciones/penales-especiales" title="CASOS PENALES ESPECIALES" />
      <Card href="/Especializaciones/civil" title="CIVIL" />
    </div>
    <div class="ver-mas">
      <a href="/especializaciones" class="button">
        <button>Ver mas</button>
      </a>
    </div>
  </section>
</Layout>

<style>
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
  }

  .parrafo {
    width: 900px;
  }

  .titulo {
    color: rgba(155, 158, 161, 0.93);
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.4em;
    color: rgba(106, 104, 104, 1);
    text-align: left;
  }

  .other {
    text-align: center;
  }

  .card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ver-mas {
    margin: 20px;
    text-align: center;
  }

  @media (max-width: 1024px) {

    .card {
      flex-direction: column;
    }

    h3 {
      font-size: 1.8em;
    }
    .parrafo {
      width: 100%;
    }
    p {
      font-size: 1.1em;
      text-align: center;
    }
  }
</style>
