---
import Card from "../../components/Card.astro";
import CircleImg from "../../components/CircleImg.astro";
import TableHomePage from "../../components/TableHomePage.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <TableHomePage
    title="Especializaciones"
    subTitle="Especializaciones/ Tramites relacionados a propiedades"
  />
  <div class="info">
    <div class="titulo">
      <h3>Trámites relacionados a propiedades</h3>
    </div>
    <div class="parrafo">
      <p>
        Los <strong>trámites relacionados con propiedades</strong> abarcan una amplia gama de
        gestiones legales y administrativas necesarias para la compra, venta,
        arrendamiento, regularización y protección de bienes inmuebles. 
      </p>
      <p>
        En la <strong>compraventa de propiedades</strong>, nos aseguramos que
        los contratos sean claros y equitativos, revisando minuciosamente los
        títulos de propiedad y gestionando los trámites ante registros públicos
        para garantizar una transferencia sin problemas.
      </p>
      <p>
        En el ámbito de <strong>arrendamientos</strong>, redactamos y negociamos
        contratos que protejan los derechos de arrendadores y arrendatarios,
        resolviendo disputas de manera eficaz y actuando como mediadores para
        evitar litigios prolongados.
      </p>
      <p>
        En casos de <strong>expropiación</strong>, proporcionamos asesoramiento
        estratégico y negociación con autoridades para asegurar una compensación
        justa por la propiedad afectada. Defendemos los derechos de nuestros
        clientes en procedimientos judiciales si es necesario.
      </p>
      <p>
        Para <strong>regularizar propiedades</strong>, investigamos problemas de
        tenencia y ocupación irregular. Manejamos trámites administrativos y
        legales para asegurar que las propiedades cumplan con todas las
        regulaciones pertinentes y obtengan seguridad jurídica.
      </p>
    </div>
  </div>
  <div class="other">
    <h2>Otras especializaciones</h2>
    <CircleImg />
  </div>
  <section>
    <div class="card">
      <Card
        href="/Especializaciones/niñes&adolecencia"
        title="NIÑES Y ADOLECENCIA"
      />
      <Card href="/Especializaciones/penales" title="PENALES" />
      <Card
        href="/Especializaciones/penales-especiales"
        title="CASOS PENALES ESPECIALES"
      />
    </div>
    <div class="ver-mas">
      <a href="/especializaciones" class="button">
        <button>Ver mas</button>
      </a>
    </div>
  </section>
</Layout>

<style>
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    gap: 20px;
  }

  .parrafo {
    width: 900px;
  }

  .titulo {
    color: rgba(155, 158, 161, 0.93);
  }

  h3 {
    font-size: 2.5em;
  }

  p {
    font-size: 1.4em;
    color: rgba(106, 104, 104, 1);
    text-align: left;
  }

  .other {
    text-align: center;
  }

  .card {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ver-mas {
    margin: 20px;
    text-align: center;
  }

  @media (max-width: 1024px) {
    .card {
      flex-direction: column;
    }

    h3 {
      font-size: 1.8em;
    }
    .parrafo {
      width: 100%;
    }
    p {
      font-size: 1.1em;
      text-align: center;
    }
  }
</style>
