---
import Card from "../components/Card.astro";
import CircleImg from "../components/CircleImg.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="hero">
    <div class="home">
      <div class="transparent-box">
        <h1>Nos centramos en <br /> sus derechos</h1>
      </div>
    </div>
  </section>

  <section id="sobre-nosotros">
    <div class="nosotros">
      <h3>Sobre Nosotros</h3>
      <CircleImg />
    </div>
    <div class="container">
      <div class="img-container">
        <img src="img/home.jpg" alt="home" />
      </div>
      <div class="nos">
        <p>
          Atendemos a particulares y empresas, centrándonos en la mejor solución
          posible y deseable para cada caso. Cada cliente es único y debe
          recibir la máxima atención...
        </p>
        <a href="/SobreNosotros" class="button">
          <button>Leer más...</button>
        </a>
      </div>
    </div>
  </section>

  <section id="especialidades">
    <div class="spe">
      <h3>Especialidades</h3>
      <CircleImg />
    </div>
    <div class="container">
      <Card
        title="PLANIFICACION PATRIMINIAL Y SUCESORIA"
        href="/SobreNosotros"
      />
      <Card title="DELINCUENCIA ECONOMICA Y FINANCIERA" href="/SobreNosotros" />
      <Card title="COBROS Y RECUPERACIÓN DE ACTIVOS" href="/SobreNosotros" />
      <!-- <div class="carta"><a href="/sobre-nosotros">
                <h2>PLANIFICACIÓN <br> PATRIMONIAL Y <br>SUCESORIA</h2>
            </a></div>
        <div class="carta"> <a href="">
                <h2>DELINCUENCIA <br>ECONÓMICA Y <br>FINANCIERA</h2>
            </a></div>
        <div class="carta"><a href="">
                <h2>FAMILIA Y <br>SUCESIONES</h2>
            </a></div> -->
    </div>
    <div class="ver-mas">
      <button>Ver mas</button>
    </div>
  </section>
</Layout>

<style>
  #hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
      ),
      url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #hero h1 {
    color: white;
    font-weight: 500;
  }
  #hero .transparent-box {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 80px;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #hero .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #hero .transparent-box h1 {
    position: relative;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(59, 61, 63, 1);
    text-align: center;
  }

  /* Estilos específicos para la sección "Sobre Nosotros" */
  #sobre-nosotros .nosotros {
    text-align: center;
    /* position: relative; */
  }

  #sobre-nosotros .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    text-align: center;
    padding: 0;
    background-color: rgba(101, 104, 108, 0.71);
  }

  #sobre-nosotros h3 {
    font-family: "Lora", sans-serif;
    font-weight: 590;
    font-size: 2em;
    position: relative;
    margin-bottom: 50px;
  }

  #sobre-nosotros p {
    font-size: larger;
  }

  #sobre-nosotros .img-container {
    /* background-color: rgba(101, 104, 108, 0.71); */
    width: 100%;
  }

  #especialidades .spe {
    text-align: center;
    padding: 10px;
    position: relative;
  }

  #especialidades .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    padding: 20px 12px;
  }

  #especialidades h3 {
    font-family: "Lora", sans-serif;
    font-weight: 590;
    font-size: 2em;
    position: relative;
    margin-bottom: 50px;
  }

  #especialidades h2 {
    font-weight: 590;
    font-size: 2em;
    position: relative;
    margin-bottom: 50px;
    color: white;
  }

  #especialidades .ver-mas {
    text-align: center;
    margin: 0;
    font-size: 2em;
  }
</style>
