---
import CircleImg from "../components/CircleImg.astro";
import SobreNosCard from "../components/SobreNosCard.astro";
import TableHomePage from "../components/TableHomePage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <TableHomePage title="Sobre Nosotros" subTitle="Inicio/ Sobre Nosotro" />
  <section id="nosotros">
    <div class="container">
      <div class="info">
        <h2 class="h2">Quienes Somos</h2>
        <p>
          Ofrecemos una amplia gama de servicios legales, incluyendo
          asesoramiento en derecho de familia, derecho laboral y derecho
          corporativo, así como representación en litigios y mediaciones.
        </p>

        <p>
          En el ámbito contable, proveemos servicios de auditoría, planificación
          fiscal, y contabilidad financiera para asegurar que sus operaciones
          estén en plena conformidad con las regulaciones vigentes.
        </p>
        <p>
          Proveemos servicios de auditoría, planificación fiscal, y contabilidad
          financiera para asegurar que sus operaciones estén en plena
          conformidad con las regulaciones vigentes.
        </p>
        <p>
          Nos distinguimos por nuestro compromiso con la excelencia, la
          integridad y la atención personalizada, trabajando estrechamente con
          cada cliente para entender sus necesidades específicas y ofrecer
          soluciones adaptadas a sus objetivos particulares.
        </p>
      </div>
      <div class="img-container">
        <img
          src="img/sobrenosImg.jpg"
          alt="sobreNosotros"
          width="650"
          height="400"
          class="responsive-img"
        />
      </div>
    </div>
  </section>
  <section id="equipo">
    <div class="team">
      <h1 class="h1">Equipo</h1>
      <CircleImg />
    </div>
    <div class="agentes">
      <SobreNosCard
        img="img/home.jpg"
        nombre="ANTONIO BENITEZ"
        apellido="IRRAZABAL"
        text="Egresado como abogado (2015) y oficial de Justicia (2015) en la Universidad Privada del Este. Especializacion en Didactica Universitaria en la UTCD. Oratoria (2013) en la UPE. Durante su formación, se destacó por su dedicación y compromiso académico, participando en diversas actividades y seminarios jurídicos. Actualmente ejerce como Oficial de Justicia. "
      />
      <SobreNosCard
        img="img/home.jpg"
        nombre="MERCEDES MARECO"
        apellido="FERNANDEZ"
        text="Egresada como abogada (2006) y notaria (2009) de la Universidad Católica Nuestra Señora de la Asunción. Especialización en Didáctica Universitaria por la Universidad Técnica de Comercialización y Desarrollo (2013). Máster en Derecho Civil y Procesal Civil por la Universidad Americana (2017). Postgrado en Ciencias de la Educación por la Universidad Nacional del Este."
      />
      <SobreNosCard
        img="img/home.jpg"
        nombre="LIC. LILIAN ROCIO"
        apellido="CABRERA"
        text="Egresada como Licenciada en Contabilidad en la UNE (2021). Cursos en Impuesto a la Renta Personal (2018), Impacto del Mercado de Valores en la Economía Nacional (2019), Desarrollo Socioeconómico del Paraguay (2019), Oratoria (2018) y Elaboración de Planillas Electrónicas (2017) en la UNE. Educación Financiera y Plan de Negocios (2018) Fundación Emprende Paraguay. "
      />
    </div>
  </section>
  <div class="contac">
    <a href="/Contact" class="button">
      <button>Contacte con nosotros</button>
    </a>
  </div>
</Layout>

<style>
  .h2 {
    font-size: 2em;
    font-weight: 590;
  }

  .h1 {
    font-size: 2.7em;
    font-weight: 500;
  }

  #nosotros .container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #nosotros .info {
    margin: 20px;
    text-align: justify;
  }

  .responsive-img {
    border-radius: 20px;
  }

  #equipo .team {
    gap: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
  }

  #equipo .agentes {
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contac {
    text-align: center;
    margin: 30px;
    font-size: 1em;
    font-weight: 500;
  }

  @media (max-width: 912px) {
    #equipo .agentes {
      flex-direction: column;
    }

    .responsive-img {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .responsive-img {
      display: none;
    }

    #equipo .agentes {
      flex-direction: column;
    }
  }
</style>
