---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="link-card">
  <a href={href}>
    <h2 class="title">{title}</h2>
  </a>
</div>

<style>
  .link-card {
    margin: 20px;
    background-position: center center;
    background-size: cover;
    border-radius: 5%;
    background-image: linear-gradient(
        0deg,
        rgba(101, 104, 108, 0.74),
        rgba(101, 104, 108, 0.74)
      ),
      url("/img/card1.jpg");
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link-card a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 100%;
    color: white;
    font-weight: 590;
    font-size: 1.6em;
    text-align: center;
  }

  @media (max-width: 1024px) {

    .link-card {
      width: 300px;
      height: 250px;
      margin: 0;
    }
    
    .title {
      font-size: 1.5em;
    }
  }
</style>
