---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
    </h2>
  </a>
</li>

<style>
  .link-card {
    margin: 30px;
    background-position: center center;
    background-size: cover;
    border-radius: 5%;
    background-image: linear-gradient(
        0deg,
        rgba(101, 104, 108, 0.74),
        rgba(101, 104, 108, 0.74)
      ),
      url("img/card1.jpg");
    padding: 68px;
    display: flex;
	max-width: min-content;
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    color: white;
    font-weight: 590;
    font-size: 2em;
    opacity: 0.8;
  }

  h2 {
    font-family: "Lora", sans-serif;
    font-weight: 590;
    font-size: 1em;
  }
</style>
