<footer>
  <div class="container">
    <div class="logo">
      <h1 class="h1">Lex Numerica</h1>
      <h3 class="h3">Estudio jurídico y contable</h3>
    </div>
    <div class="conjunto">
      <div class="contenido">
        <h4>Contenido</h4>
        <div class="links">
          <a href="/">Inicio</a>
          <a href="/sobre-nosotros">Sobre Nosotros</a>
          <a href="/especializaciones">Especializaciones</a>
          <a href="/contactenos">Contactenos</a>
        </div>
      </div>
      <div class="ofi">
        <a href="/oficinas">
          <h4>Oficinas</h4>
        </a>
        <div class="direcciones">
          <p>Ciudad del este, km 6 1/2 Av. Hernandarias</p>
          <p>Ciudad del este, km 6 1/2 Av. Hernandarias</p>
          <p>Ciudad del este, km 6 1/2 Av. Hernandarias</p>
        </div>
      </div>
    </div>
  </div>
  <div class="line"></div>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgba(91, 91, 99, 1);
    padding-top: 100px;
  }

  .h1 {
    margin: 0;
  }

  .h3 {
    margin: 0;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  footer .logo {
    text-align: left;
    color: white;
    margin-left: 70px;
    font-size: 1.4em;
    font-family: "Lora";
  }

  .conjunto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding-right: 100px;
  }

  footer .contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    color: white;
    flex-grow: 1;
  }

  footer .ofi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: white;
    flex-grow: 1;
  }

  footer h4 {
    color: white;
    margin: 0;
    font-size: 1.3em;
  }

  footer .links {
    text-decoration: none;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  footer a {
    color: rgba(193, 192, 192, 1);
    text-decoration: none;
  }

  footer p {
    font-size: 1em;
    margin: 0;
    color: rgba(193, 192, 192, 1);
  }

  footer .line {
    margin-top: 50px;
    width: 100%;
    height: 40px;
    background-color: rgba(51, 51, 55, 1);
  }

  @media (max-width: 768px) {
    footer {
      padding-top: 30px;
    }

    footer .container {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      margin-left: 50px;
    }

    footer .conjunto {
      flex-direction: column;
      gap: 25px;
    }

    footer .logo {
      font-size: 1.2em;
      margin: 0;
      margin-left: -40px;
      text-align: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    footer .container {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      margin-left: 50px;
    }

    footer .conjunto {
      flex-direction: row;
      gap: 0;
      padding-right: 0;
      align-items: center;
      justify-content: center;
      margin-right: 200px;
      text-align: center;
    }

    footer .logo {
      font-size: 1.2em;
      margin: 0;
      text-align: start;
    }
  }
</style>
