---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const navItems = [
  { href: "/", label: "Inicio" },
  { href: "/sobre-nosotros", label: "Sobre Nosotros" },
  { href: "/especializaciones", label: "Especializaciones" },
  { href: "/Office", label: "Oficinas" },
  { href: "/Contact", label: "Contactenos" },
];
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lex Numerica</title>
  </head>
  <body>
    <div class="header">
      <Header navItems={navItems} />
    </div>
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import "../scrips/nav.js";
    </script>
  </body>
</html>

<style is:global>
  h3 {
    font-family: "Lora", sans-serif;
  }

  h2 {
    font-family: "Lora", sans-serif;
  }

  h1 {
    font-family: "Lora", sans-serif;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000; /* Ensure it stays on top */
  }

  main {
    margin-top: 130px; /* Adjust based on header height */
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    overflow-x: hidden;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }

  button {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    color: white;
    background-color: rgba(101, 104, 108, 1);
  }

  button:hover {
    background-color: rgb(120, 128, 138);
  }

  @media (max-width: 1024px) {
    .header {
      position: static;
    }

    main {
    margin-top: 0;
  }
  }
</style>
